.App {
  position: absolute;
  text-align: center;
}

/* remove updown arrow from input type number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}