.App {
  min-height: 100vh;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.table-search {
  height: 28px;
  margin-top: 20px;
  width: 50%;
}

.data-table {
  position: absolute !important;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90% !important;
  overflow: hidden;
  border-style: hidden !important;  
  margin-top: 50px;
}

.MuiTableContainer-root {
  overflow-x: inherit !important;
}

.MuiTableCell-root {
  max-width: 150px;
  min-width: 30px;
  text-overflow: none;
  word-break: break-all;
}

.MuiTableSortLabel-root {
  color:rgb(256,256,256,1) !important;
}

.MuiTableSortLabel-root :hover {
  color:rgb(256,256,256,1) !important;
}

.MuiTableSortLabel-icon {
  color:rgb(256,256,256,1) !important;
}