.App {
  min-height: 100vh;
}

.data-table {
  margin-top: 30px;
}

.MuiTable-root {
  width: 70% !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}